In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('IMDb_database.xlsx')
data.head()

,Rank,Title,Year,Certificate,Runtime,Genre,Rating,Metascore,Votes,Gross,URL,Intro
0,1,The Dark Knight,2008,PG-13,152 min,"Action, Crime, Drama",9.0,84,2428474,534858444,https://imdb.com/title/tt0468569/,When the menace known as the Joker wreaks havo...
1,2,The Lord of the Rings: The Return of the King,2003,PG-13,201 min,"Action, Adventure, Drama",8.9,94,1715249,377845905,https://imdb.com/title/tt0167260/,Gandalf and Aragorn lead the World of Men agai...
2,3,Inception,2010,PG-13,148 min,"Action, Adventure, Sci-Fi",8.8,74,2179206,292576195,https://imdb.com/title/tt1375666/,A thief who steals corporate secrets through t...
3,4,The Lord of the Rings: The Fellowship of the Ring,2001,PG-13,178 min,"Action, Adventure, Drama",8.8,92,1736538,315544750,https://imdb.com/title/tt0120737/,A meek Hobbit from the Shire and eight compani...
4,5,The Mountain II,2016,,135 min,"Action, Drama, War",8.7,,106888,,https://imdb.com/title/tt5813916/,In a desolate war zone where screams of the in...

In [7]:
data.describe()

               Rank          Year        Rating         Votes
count  17483.000000  17483.000000  17483.000000  1.748300e+04
mean     757.889950   2002.676028      6.718286  1.358193e+05
std      665.311836     15.738938      0.954680  1.830410e+05
min        1.000000   1920.000000      1.000000  2.501600e+04
25%      233.000000   1997.000000      6.200000  4.090300e+04
50%      576.000000   2007.000000      6.800000  7.180000e+04
75%     1094.000000   2014.000000      7.400000  1.497080e+05
max     3015.000000   2021.000000      9.300000  2.474457e+06